body, html {
    height: 100%;
    margin: 0;

}

.bg {
    /* The image used */
    background-image: url("../Assets/background2.jpg");
    /* Full size */
    min-height: 100% !important;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        background-attachment: fixed;
}

.bgAdmin {
    /* The image used */
    background-image: url("../Assets/background3.jpg");
    /* Full size */
    min-height: 100% !important;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        background-attachment: fixed;
}

.buttonAdmin{
  position: absolute !important;
  bottom: 20px;
  right: 0;
  margin-right: 15px;
  background-color: #5c6bc0 !important;
}

.logoDisplay{
    width: 30%; 
    display: table; 
    margin-right: auto; 
    margin-left: auto;
}

.navbarDisplay{
    width: 4%; 
}

.detail{
    height: auto;
    background-color: #fff;
    border-radius: 2px;
    display: table;
    margin: 20px auto 0 auto;
}

.textcard{
  margin: auto;
  text-align: center;

}
@media only screen and (max-width: 768px) {
    .textcard {
         margin: auto;
         text-align: center;
    }
}

.textcardh1{
  color: black; 
  /*padding-top: 80px;*/

}
@media only screen and (max-width: 768px) {
    .textcardh1 {
         color: black; 
         padding-top:0px;
    }
}

.imgcard{
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  display: table;
  margin: 35px auto 35px auto;
  position: relative;
}

.sendButton{
    margin-left: auto;
    margin-right: auto;
    display: table !important;
}

.buttoncard{
  display: table !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 50px;
}

ul{
    list-style-type:disc;
    color: black;
}

li{
    list-style-type:disc;
    font-size: 20px;
    margin-top: 20px;
}

.tableDetail{
  width: 85%;
  margin: 0 auto 0 auto;
}

@media only screen and (max-width: 800px){
  .tableDetail{
  width: 100%;
  margin: 0;
  }
}

#map {
  width: 100%;
  height: 700px;
  border-radius: 5px;
}

.profilePhoto{
  width: 200px;
  border-radius: 75%;
}

.buttonPush{
margin-right: auto;
margin-left: auto;
display: table !important;
}

button:focus {
  outline: none;
  background-color: #5c6bc0;
}


